.button {
  display: inline-block;
  text-decoration: none;
  background-color: #ff6347;
  color: white;
  padding: 15px 32px;
  border: none;
  margin: 20px auto;
  border-radius: 4px;
}

.hero-container {
  text-align: center;
  margin-top: 40px;
}

.main-divider {
  width: 100%;
  margin: 20px auto;
  border: 0;
  border-top: 2px solid #ff6347;
}

.category-title {
  color: #333;
  margin-bottom: 20px;
}

.pizza-item {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.pizza-item:not(:last-child) {
  border-bottom: 2px solid #ff6347;
}

.price {
  font-weight: bold;
  color: #27ae60;
}
